<ng-progress id="progressBar"
             [color]="progressBar.currentColor"
             [thick]="true"></ng-progress>
<ngx-alerts></ngx-alerts>




<body class="signup-page">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-4 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Schimbați parola</h2>
            
            <div class="card-body">
              <div class="row">

               
                <p class="mb-4"><i>  &nbsp; &nbsp; &nbsp; Doriți să schimbați parola? 
                  
                  Nicio problemă, trebuie doar să completați adresa de e-mail și vă vom trimite detaliile privind schimbarea parolei.</i> </p>
              
                <div class="col-md-11 mr-auto">


                  <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
              #email="ngModel" placeholder="Introduceți adresa de email" />
                      </div>
                    </div>


                  





                    <div class="text-center">
                      <button type = "submit" class="btn btn-blue text-center" [disabled]="f.invalid">Trimite</button>
                    </div>



                    <div class="form-group">
                      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                        Send failed: {{ errorMessage }}
                      </div>
                    </div>


                  </form>
                  <div class="row mb-4 px-3"> <small class="font-weight-bold">Înapoi la autentificare! <a href="/login"
                    class="text-success ">Autentificare</a></small> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>