<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update data</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form name="form" (ngSubmit)="updateIncasari(j, f)" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="data">Data</label>
            <input type="text" class="form-control" name="data" [(ngModel)]="j.data" required #user="ngModel" />
        </div>
        <div class="form-group">
            <label for="furnizor">Furnizor</label>
            <input type="text" class="form-control" name="furnizor" [(ngModel)]="j.furnizor" required #user="ngModel" />
        </div>
        <div class="form-group">
            <label for="number">Number</label>
            <input type="text" class="form-control" name="number" [(ngModel)]="j.number" required #calories="ngModel" />
        </div>

        <div class="form-group">
            <label for="detalii">Detalii</label>
            <input type="text" class="form-control" name="detalii" [(ngModel)]="j.detalii" required #proteins="ngModel" />
        </div>

        <div class="form-group">
            <label for="sumaTotala">sumaTotala</label>
            <input type="text" class="form-control" name="sumaTotala" [(ngModel)]="j.sumaTotala" required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <label for="sumaFaraTVA">sumaFaraTVA</label>
            <input type="text" class="form-control" name="sumaFaraTVA" [(ngModel)]="j.sumaFaraTVA" required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <label for="sumaTVA">sumaTVA</label>
            <input type="text" class="form-control" name="sumaTVA" [(ngModel)]="j.sumaTVA" required #fat="ngModel" />
        </div>




        <div class="form-group"> 
            <button  class="btn btn-secondary" aria-label="Close"  (click)="close()">Close</button>
            &nbsp;
            <button  class="btn btn-primary">Update data</button>
          </div>
    </form>



    <!-- <a class="button" href="/add">
        <button type="button" class="btn btn-outline-danger">Inapoi</button>
      </a> -->

</div>
