<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Actualizarea datelor</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="updateIncasari(j, f)" #f="ngForm" novalidate>

        <!-- <div class="form-group">
            <label for="data">Data</label>
            <input type="text" class="form-control" name="data" [(ngModel)]="j.data" required #user="ngModel" />
        </div>
        <div class="form-group">
            <label for="furnizor">Furnizor</label>
            <input type="text" class="form-control" name="furnizor" [(ngModel)]="j.furnizor" required #user="ngModel" />
        </div>
        <div class="form-group">
            <label for="number">Number</label>
            <input type="text" class="form-control" name="number" [(ngModel)]="j.number" required #calories="ngModel" />
        </div>

        <div class="form-group">
            <label for="detalii">Detalii</label>
            <input type="text" class="form-control" name="detalii" [(ngModel)]="j.detalii" required #proteins="ngModel" />
        </div>

        <div class="form-group">
            <label for="sumaTotala">sumaTotala</label>
            <input type="text" class="form-control" name="sumaTotala" [(ngModel)]="j.sumaTotala" required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <label for="sumaFaraTVA">sumaFaraTVA</label>
            <input type="text" class="form-control" name="sumaFaraTVA" [(ngModel)]="j.sumaFaraTVA" required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <label for="sumaTVA">sumaTVA</label>
            <input type="text" class="form-control" name="sumaTVA" [(ngModel)]="j.sumaTVA" required #fat="ngModel" />
        </div>




        <div class="form-group"> 
            <button  class="btn btn-secondary" aria-label="Close"  (click)="close()">Close</button>
            &nbsp;
            <button  class="btn btn-primary">Update data</button>
          </div> -->
        <!-- </form> -->


        <div class="form-group">
            <label for="data">Data</label>
            <input type="text" class="form-control" name="data" [(ngModel)]="j.data" required  #data="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && data.invalid">
                <div *ngIf="data.errors.required">Introducerea datei este obligatorie !</div>
            </div>
        </div>


        <div class="form-group">
            <label for="furnizor">Furnizor</label>
            <input type="text" class="form-control" name="furnizor" [(ngModel)]="j.furnizor" required minlength="1"
                maxlength="35" #furnizor="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && furnizor.invalid">
                <div *ngIf="furnizor.errors.required">Introducerea furnizorului este obligatorie !</div>
                <div *ngIf="furnizor.errors.minlength">
                    Furnizorul trebuie să fie compus din minim 1 caracter !
                </div>
                <div *ngIf="furnizor.errors.maxlength">
                    Furnizorul trebuie să fie compus din maxim 35 caractere !
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="number">Number</label>
            <input type="text" class="form-control" name="number" [(ngModel)]="j.number" required minlength="1"
                maxlength="15" #number="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && number.invalid">
                <div *ngIf="number.errors.required">Introducerea numarului este obligatorie !</div>
                <div *ngIf="number.errors.minlength">
                    Numărul trebuie să fie compus din minim 1 caracter !
                </div>
                <div *ngIf="number.errors.maxlength">
                    Numărul trebuie să fie compus din maxim 15 caractere !
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="detalii">Detalii</label>
            <input type="text" class="form-control" name="detalii" [(ngModel)]="j.detalii" required minlength="1"
                maxlength="20" #detalii="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && detalii.invalid">
                <div *ngIf="detalii.errors.required">Introducerea detaliilor este obligatorie !</div>
                <div *ngIf="detalii.errors.minlength">
                    Detaliile trebuie să fie compus din minim 1 caracter !
                </div>
                <div *ngIf="detalii.errors.maxlength">
                    Detaliile trebuie să fie compus din maxim 20 caractere !
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="sumaTotala">sumaTotala</label>
            <input type="number" class="form-control" name="sumaTotala" [(ngModel)]="j.sumaTotala" required
                 #sumaTotala="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && sumaTotala.invalid">
                <div *ngIf="sumaTotala.errors.required">Introducerea sumei totale este obligatorie !</div>
            </div>
        </div>

        <div class="form-group">
            <label for="sumaTotala_Incasata">sumaTotala_Incasata</label>
            <input type="number" class="form-control" name="sumaTotala_Incasata" [(ngModel)]="j.sumaTotala_Incasata" required
                minlength="2" maxlength="50" #sumaTotala_Incasata="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && sumaTotala_Incasata.invalid">
                <div *ngIf="sumaTotala_Incasata.errors.required">Introducerea sumei totale încasate este obligatorie !</div>
            </div>
        </div>


        <!-- <div class="form-group">
            <label for="cota_TVA">Cotă TVA %</label>
            <input type="number" class="form-control" name="cota_TVA" [(ngModel)]="j.cota_TVA" required
                minlength="1" maxlength="50" #cota_TVA="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && cota_TVA.invalid">
                <div *ngIf="cota_TVA.errors.required">cota_TVA is required</div>
                <div *ngIf="cota_TVA.errors.minlength">
                    cota_TVA must be at least 1 characters
                </div>
                <div *ngIf="cota_TVA.errors.maxlength">
                    cota_TVA must be at most 50 characters
                </div>
            </div>
        </div> -->


        <div class="form-group">
            <label for="Cotă TVA">Cotă TVA</label>
                <mat-select  class="form-control" id="cota_TVA" name="cota_TVA" [(ngModel)]="j.cota_TVA" required #cota_TVA="ngModel" >
                  <mat-option *ngFor="let TVA of cotaTVAList" [value]="TVA.value">
                    {{TVA.viewValue}}
                  </mat-option>
                </mat-select>

                <div class="alert-danger" *ngIf="f.submitted && cota_TVA.invalid">
                    <div *ngIf="cota_TVA.errors.required">Introducerea cotei TVA este obligatorie !</div>
                </div>
  
          </div>



        <div class="form-group">
            <label for="data_Scadenta">data_Scadenta</label>
            <input type="text" class="form-control" name="data_Scadenta" [(ngModel)]="j.data_Scadenta" required
                 #data_Scadenta="ngModel" />

                 <div class="alert-danger" *ngIf="f.submitted && data_Scadenta.invalid">
                    <div *ngIf="data_Scadenta.errors.required">Introducerea datei scadențe este obligatorie !</div>
                </div>
        </div>



        <div class="modal-footer">
        <div class="form-group"> 
            <button  class="btn-sm btn-secondary"  mat-raised-button aria-label="Close"  (click)="close()">Close</button>
            &nbsp;
            <button  class="btn-sm btn-success"  mat-raised-button>Modificați</button>
        </div> 
    </div> 



        <div class="alert alert-warning" *ngIf="f.submitted && isaddFailed">
           Modificare ușuată!<br />{{ errorMessage }}
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Your invoice has been successfully updated!
    </div>
</div>