        <div class="add"><a class="button" href="/add" role="button">
          <span>adaugati</span>
          <div class="icon">
            <i class="fa fa-plus"></i>
            <i class="fa fa-check"></i>
          </div>
        </a>
        </div>


        <div class="delete"><a class="button" href="/add" role="button">
          <span>delete</span>
          <div class="icon">
            <i class="fa fa-trash-o"></i>
            <i class="fa fa-check"></i>
          </div>
        </a>
        </div>









<p>add works!</p>
