<div *ngIf="currentUser; else loggedOut">
  <div class="active-pink-3 active-pink-4 mb-4">
    <mat-form-field>
      <mat-label></mat-label>
      <input class="form-control" matInput (keyup)="applyFilter($event)" placeholder="Search all" #input>
    </mat-form-field>
  </div>




  <form e="form" (ngSubmit)="searchByMonthAndYear(e)" #e="ngForm" novalidate class="form-inline">
    <div class="form-group">
      <label for="year"></label>
      <div class="form-group" style="width: 130px; height: 33px;">
      <mat-form-field appearance="fill" style="width: 130px; height: 33px;">
          <mat-label>Lună</mat-label>
          <mat-select id="month" name="month" [(ngModel)]="form.month" required #month="ngModel">
              <mat-option>month</mat-option>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.viewValue}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      </div>
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <label for="year"></label>
      <div class="form-group" style="width: 130px; height: 33px;">
          <mat-form-field appearance="fill" style="width: 130px; height: 33px;">
              <mat-label>An</mat-label>
              <mat-select id="year" name="year" [(ngModel)]="form.year" required #year="ngModel">
                  <mat-option>year</mat-option>
                  <mat-option *ngFor="let year of years" [value]="year.value">
                      {{year.viewValue}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
  </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <button class="btn-sm" mat-raised-button color="primary">Cauta</button>
    </div>

    &nbsp; &nbsp;
    <div class="form-group">
      <button type="reset" class="btn-sm" mat-raised-button>Șterge filtrele</button>
    </div>
  </form>




  <form h="form" (ngSubmit)="searchByFurnizorAndDateAndSum(h)" #h="ngForm" novalidate class="form-inline">
    <div class="form-group">
      <label for="furnizor"></label>
      <input type="text" class="form-control" name="furnizor" [(ngModel)]="form.furnizor" placeholder="Furnizor"
        required #furnizor="ngModel" style="width: 130px; height: 33px;" />
    </div>

    &nbsp; 

    <div class="form-group">
      <label for="data1"></label>
      <input required matInput [matDatepicker]="dp1" name="data1" placeholder="Dată minimă" class="form-control"
        [(ngModel)]="form.data1" required #data1="ngModel" style="width: 130px; height: 33px;" />
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>

      &nbsp; 
      
    </div>
    <div class="form-group">
      <label for="data2"></label>
      <input required matInput [matDatepicker]="dp2" name="data2" placeholder="Dată maximă" class="form-control"
        [(ngModel)]="form.data2" required #data2="ngModel" style="width: 130px; height: 33px;" />
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <label for="sumaTotala1"></label>
      <input type="number" class="form-control" name="sumaTotala1" [(ngModel)]="form.sumaTotala1"
        placeholder="Sumă minimă" required #sumaTotala1="ngModel" style="width: 130px; height: 33px;" />
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <label for="sumaTotala2"></label>
      <input type="number" class="form-control" name="sumaTotala2" [(ngModel)]="form.sumaTotala2"
        placeholder="Sumă maximă" required #sumaTotala2="ngModel" style="width: 130px; height: 33px;" />
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <label for="stare"></label>
      <!-- <input type="text" class="form-control" name="stare" [(ngModel)]="form.stare"
        placeholder="stare" required #stare="ngModel" style="width: 130px; height: 33px;" /> -->
        <div class="form-group" style="width: 130px; height: 33px;">
          <mat-form-field appearance="fill"  style="width: 130px; height: 33px;">
            <mat-label>Stare</mat-label>
          <mat-select  id="stare" name="stare" [(ngModel)]="form.stare" required #stare="ngModel" >
            <mat-option>Stare</mat-option>
            <mat-option *ngFor="let stare of stares" [value]="stare.value">
              {{stare.viewValue}}
            </mat-option>
          </mat-select>
          </mat-form-field>
          </div>
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <button class="btn-sm" mat-raised-button color="primary">Caută</button>
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <button type="reset" class="btn-sm" mat-raised-button>Șterge filtrele</button>
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
      <input type="image" (click)="exportAsXLSX()" title="Export to XLS" src="/assets/images/excel.PNG"
        style="border-width:0px;">
    </div>
  </form>






  <div class="excel">
    <button mat-raised-button style="float: left" (click)="openModal()">
      <mat-icon>add</mat-icon>Adaugă
    </button>
  </div>

  <div class="excel">
    <button tye="reset" mat-raised-button style="float: right" (click)="reset()">
      <mat-icon>refresh</mat-icon>Refresh
    </button>
  </div>




  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Dată
          <div>
            <mat-form-field>
              <input matInput class="form-field" type="text" #myInput [(ngModel)]="dat" (input)="SearchData()"
                placeholder="Search data...">
              <br />
            </mat-form-field>
          </div>
        </th>

        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="furnizor">
        <th mat-header-cell *matHeaderCellDef> Furnizor
          <div>
            <mat-form-field>
              <input matInput class="form-field" type="text" #myInput [(ngModel)]="furniz" (input)="SearchFurnizor()"
                placeholder="Search furnizor..." />
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.furnizor}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Număr
          <div>
            <mat-form-field>
              <input matInput class="form-field" type="text" #myInput [(ngModel)]="num" (input)="SearchNumber()"
                placeholder="Search number..." />
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="detalii">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalii </th>
        <td mat-cell *matCellDef="let element"> {{element.detalii}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>


      <ng-container matColumnDef="sumaTotala">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sumă totala </th>
        <td mat-cell *matCellDef="let element"> {{element.sumaTotala}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCostTotal()}} </td>
      </ng-container>

      <ng-container matColumnDef="sumaTotala_Incasata">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sumă totala încasată </th>
        <td mat-cell *matCellDef="let element"> {{element.sumaTotala_Incasata}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCostTotal_Incasata()}} </td>
      </ng-container>

      <ng-container matColumnDef="cota_TVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cotă TVA %</th>
        <td mat-cell *matCellDef="let element"> {{element.cota_TVA}} % </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>

      <ng-container matColumnDef="rest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rest de încasat</th>
        <td mat-cell *matCellDef="let element"> {{element.rest}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getRest()}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="sumaFaraTVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> sumaFaraTVA </th>
        <td mat-cell *matCellDef="let element"> {{element.sumaFaraTVA}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCostFaraTVA()}} </td>
      </ng-container>

      <ng-container matColumnDef="sumaFaraTVA_Incasata">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> sumaFaraTVA_Incasata </th>
        <td mat-cell *matCellDef="let element"> {{element.sumaFaraTVA_Incasata}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCostFaraTVA_Incasata()}} </td>
      </ng-container>

      <ng-container matColumnDef="sumaTVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> sumaTVA </th>
        <td mat-cell *matCellDef="let element"> {{element.sumaTVA}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCostTVA()}} </td>
      </ng-container>

      <ng-container matColumnDef="sumaTVA_Incasata">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> sumaTVA_Incasata </th>
        <td mat-cell *matCellDef="let element"> {{element.sumaTVA_Incasata}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCostTVA_Incasata()}} </td>
      </ng-container> -->


      <ng-container matColumnDef="stare">
        <th mat-header-cell *matHeaderCellDef>Stare</th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.stare}}  -->
          <td mat-cell *matCellDef="let element">
          <div *ngIf = "element.stare == 'achitata'">
            <p style="color:green;"><b> <i class="fa fa-check"></i>{{element.stare}}</b></p>
          </div>

          <div *ngIf = "element.stare == 'partial achitata'">
            <p style="color:blue;"><b> <i class="fa fa-retweet"></i> {{element.stare}}</b></p>
          </div>

          <div *ngIf = "element.stare == 'neachitata'">
            <p style="color:red;"><b> <i class="fa fa-times"></i> {{element.stare}}</b></p>
          </div>

          <div *ngIf = "element.stare == 'intarziata'">
            <p style="color:red;"><b> <i class="fa fa-clock-o"></i> {{element.stare}}</b></p>
          </div>
          
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>


      <ng-container matColumnDef="by_added">
        <th mat-header-cell *matHeaderCellDef>Adăugat de</th>
        <td mat-cell *matCellDef="let element"> {{element.by_added}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>


      <!-- <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> delete </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-sm btn-outline-danger" mat-raised-button (click)="deleteModal(element.id)">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container> -->


      <!-- <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> update </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-sm btn-outline-primary" mat-raised-button (click)="updateModal(element)">
            <mat-icon>update</mat-icon>Update
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container> -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acțiuni </th>
        <td mat-cell *matCellDef="let element">

          <div class = "btn-group" 
            dropdown>
                  <a class="nav-link "
                     dropdownToggle>
                   
                     <button class="btn btn-link text-dark  m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="icon icon-sm">
                          <span class="fa fa-ellipsis-h icon-dark"></span>
                      </span>
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>

                  </a>
                  <div class="row">
                    <div class="col-md-12 school-options-dropdown text-right">
                  <div class="dropdown-menu dropdown-menu-right"
                       *dropdownMenu>
                       <a class="dropdown-item rounded-top"
                       (click)="view(element)"
                       routerLinkActive="active"> <span class="fa fa-eye me-2"></span> Vezi detalii</a>


                      <a class="dropdown-item"
                      (click)="updateModal(element)"
                      routerLinkActive="active"> <span class="fa fa-edit me-2"></span> Modifică</a>

                      <a class="dropdown-item text-danger rounded-bottom"
                      (click)="deleteModal(element.id)"
                      routerLinkActive="active"><span class="fa fa-trash me-2"></span> Șterge</a>
                  </div>
                    </div>
                    </div>

                  </div>


          <!-- <button class="btn btn-sm btn-outline-primary" mat-raised-button (click)="updateModal(element)">
            <mat-icon>update</mat-icon>Update
          </button> -->
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>


  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



  <div class="container">
    <div class="row">



      <!-- <form h="form" (ngSubmit)="searchByFurnizorAndDateAndSum(h)" #h="ngForm" novalidate class="form-inline">
        <div class="form-group">
          <label for="college">Select:</label>
          <mat-select class="form-control" id="college" [(ngModel)]="selectedValue" name="college_name" required
            multiple>
            <mat-option value="furnizor">Furnizor</mat-option>
            <mat-option value="data1">Data1</mat-option>
            <mat-option value="data2">Data2</mat-option>
            <mat-option value="sumaTotala1">sumaTotala1</mat-option>
            <mat-option value="sumaTotala2">sumaTotala2</mat-option>
          </mat-select>
        </div>
        <div class="form-group" *ngIf="selectedValue">
          <div class="form-group" *ngIf="selectedValue == 'sumaTotala1'">
            <label for="sumaTotala1"></label>
            <input type="number" class="form-control" name="sumaTotala1" [(ngModel)]="form.sumaTotala1"
              placeholder="sumaTotala1" required #sumaTotala1="ngModel" />
          </div>


          <div class="form-group" *ngIf="selectedValue == 'sumaTotala2'">
            <label for="sumaTotala2"></label>
            <input type="number" class="form-control" name="sumaTotala2" [(ngModel)]="form.sumaTotala2"
              placeholder="sumaTotala2" required #sumaTotala2="ngModel" />
          </div>

          <div class="form-group" *ngIf="selectedValue == 'sumaTotala1' && selectedValue == 'sumaTotala2'">
            <label for="sumaTotala1"></label>
            <input type="number" class="form-control" name="sumaTotala1" [(ngModel)]="form.sumaTotala1"
              placeholder="sumaTotala1" required #sumaTotala1="ngModel" />

            <label for="sumaTotala2"></label>
            <input type="number" class="form-control" name="sumaTotala2" [(ngModel)]="form.sumaTotala2"
              placeholder="sumaTotala2" required #sumaTotala2="ngModel" />
          </div>
        </div>
      </form> -->

      <!-- <form h="form" (ngSubmit)="searchByFurnizorAndDateAndSum(h)" #h="ngForm" novalidate class="form-inline">
        <div class="form-group">
          <label for="college">Select:</label>
          <mat-select class="form-control" id="college" [(ngModel)]="selectedValue" name="college_name" required
            multiple>
            <mat-option value="furnizor">Furnizor</mat-option>
            <mat-option value="data1">Data1</mat-option>
            <mat-option value="data2">Data2</mat-option>
            <mat-option value="sumaTotala1">sumaTotala1</mat-option>
            <mat-option value="sumaTotala2">sumaTotala2</mat-option>
          </mat-select>
        </div>
        <div *ngIf="selectedValue == 'sumaTotala1'">
          <input type="number" class="form-control" name="sumaTotala2" [(ngModel)]="form.sumaTotala2"
            placeholder="sumaTotala2" required #sumaTotala2="ngModel" />
        </div>
      </form> -->


      <!-- <div class="col-sm-3">
        <form f="form" (ngSubmit)="calculareSumaTotalaCuTVAPerYear(f)" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="year"></label>
            <input type="text" class="form-control" name="year" [(ngModel)]="form.year" placeholder="Year" required
              #year="ngModel" />
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block">Add </button>
            <div id="chart">
              <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive"></apx-chart>
            </div>

          </div>
        </form>
      </div>

      <div class="col-sm-3">
        <form g="form" (ngSubmit)="calculareSumaTotalaCuTVAMonthYear(g)" #g="ngForm" novalidate>
          <div class="form-group">
            <label for="month"></label>
            <input type="text" class="form-control" name="month" [(ngModel)]="form.month" placeholder="Month" required
              #month="ngModel" />
          </div>
          <div class="form-group">
            <label for="year"></label>
            <input type="text" class="form-control" name="year" [(ngModel)]="form.year" placeholder="Year" required
              #year1="ngModel" />
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block">Add </button>
            <div id="chart">
              <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                [responsive]="chartOptions2.responsive"></apx-chart>
            </div>
          </div>
        </form>
      </div> -->







    </div>
    





  </div>







</div>
  <ng-template #loggedOut>
    Este necesară conectarea !
  </ng-template>




  <!-- <div class="form-group">
      <label for="furnizor"></label>
      <input type="text" class="form-control" name="furnizor" [(ngModel)]="form.furnizor" placeholder="Furnizor" required
        #furnizor="ngModel" />
    </div> -->



  <!-- <mat-form-field>
      <select id="college" [(ngModel)]="selectedValue == form.furnizor" name="furnizor" required>
        <mat-option>
            <label for="furnizor"></label>
            <input type="text" class="form-control" name="furnizor" [(ngModel)]="form.furnizor" placeholder="Furnizor"
              required #furnizor="ngModel" />
        </mat-option>
      </select>
    </mat-form-field> -->


