<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Adăugare factură</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <!-- <form name="form" (ngSubmit)="register(f)" #f="ngForm" novalidate> -->
    <!-- <div class="form-group">
            <input type="text" class="form-control" name="data" [(ngModel)]="form.data" placeholder="Data" required
                #user="ngModel" />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="furnizor" [(ngModel)]="form.furnizor" placeholder="furnizor"
                required #calories="ngModel" />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="number" [(ngModel)]="form.proteins" placeholder="number"
                required #proteins="ngModel" />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="detalii" [(ngModel)]="form.detalii" placeholder="detalii"
                required #carbohydrates="ngModel" />
        </div>

        <div class="form-group">
            <input type="number" class="form-control" name="sumaTotala" [(ngModel)]="form.sumaTotala"
                placeholder="sumaTotala" required #fat="ngModel" />
        </div>

        <div class="form-group">
            <input type="number" class="form-control" name="sumaFaraTVA" [(ngModel)]="form.sumaFaraTVA"
                placeholder="sumaFaraTVA" required #weight="ngModel" />
        </div>

        <div class="form-group">
            <input type="number" class="form-control" name="sumaTVA" [(ngModel)]="form.sumaTVA" placeholder="sumaTVA"
                required #price="ngModel" />
        </div>


        <div class="form-group">
            <button class="btn btn-secondary" aria-label="Close"
                (click)="activeModal.dismiss('Cross click')">Close</button>
            &nbsp;
            <button class="btn btn-primary">Adaugati</button>
        </div> -->
    <!-- </form> -->


    
<div  *ngIf="currentUser; else loggedOut">

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="register(f)" #f="ngForm" novalidate>

        <div class="form-group">
            <label for="data">Dată</label>
            <input type="text" class="form-control" name="data" [(ngModel)]="form.data" required #data="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && data.invalid">
                <div *ngIf="data.errors.required">Introducerea datei este obligatorie !</div>
            </div>
        </div>


        <!-- <div class = "form-group">
            <label for="data">Data</label>
        <mat-form-field>
            <input required matInput [matDatepicker]="picker" name="data" [(ngModel)]="form.data" required #data="ngModel"/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div> -->





        <div class="form-group">
            <label for="furnizor">Furnizor</label>
            <input type="text" class="form-control" name="furnizor" [(ngModel)]="form.furnizor" required minlength="1"
                maxlength="35" #furnizor="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && furnizor.invalid">
                <div *ngIf="furnizor.errors.required">Introducerea furnizorului este obligatorie !</div>
                <div *ngIf="furnizor.errors.minlength">
                    Furnizorul trebuie să fie compus din minim 1 caracter !
                </div>
                <div *ngIf="furnizor.errors.maxlength">
                    Furnizorul trebuie să fie compus din maxim 35 caractere !
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="number">Număr</label>
            <input type="text" class="form-control" name="number" [(ngModel)]="form.number" required minlength="1"
                maxlength="15" #number="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && number.invalid">
                <div *ngIf="number.errors.required">Introducerea numarului este obligatorie !</div>
                <div *ngIf="number.errors.minlength">
                    Numărul trebuie să fie compus din minim 1 caracter !
                </div>
                <div *ngIf="number.errors.maxlength">
                    Numărul trebuie să fie compus din maxim 15 caractere !
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="detalii">Detalii</label>
            <input type="text" class="form-control" name="detalii" [(ngModel)]="form.detalii" required minlength="1"
                maxlength="20" #detalii="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && detalii.invalid">
                <div *ngIf="detalii.errors.required">Introducerea detaliilor este obligatorie !</div>
                <div *ngIf="detalii.errors.minlength">
                    Detaliile trebuie să fie compus din minim 1 caracter !
                </div>
                <div *ngIf="detalii.errors.maxlength">
                    Numărul trebuie să fie compus din maxim 20 caractere !
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="sumaTotala">Sumă totală</label>
            <input type="number" class="form-control" name="sumaTotala" [(ngModel)]="form.sumaTotala" required
                #sumaTotala="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && sumaTotala.invalid">
                <div *ngIf="sumaTotala.errors.required">Introducerea sumei totale este obligatorie !</div>

            </div>
        </div>

        <div class="form-group">
            <label for="sumaTotala_Incasata">Sumă totală încasată</label>
            <input type="number" class="form-control" name="sumaTotala_Incasata" [(ngModel)]="form.sumaTotala_Incasata" required
                 #sumaTotala_Incasata="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && sumaTotala_Incasata.invalid">
                <div *ngIf="sumaTotala_Incasata.errors.required">Introducerea sumei totale încasate este obligatorie !</div>
            </div>
        </div>



        
        <!-- <div class="form-group">
            <label for="cota_TVA">Cotă TVA %</label>
            <input type="text" class="form-control" name="cota_TVA" [(ngModel)]="form.cota_TVA" required
                 #cota_TVA="ngModel" />
        </div> -->


        <div class="form-group">
            <label for="Cotă TVA">Cotă TVA</label>
                <mat-select  class="form-control" id="cota_TVA" name="cota_TVA" [(ngModel)]="form.cota_TVA" required #cota_TVA="ngModel" >
                  <mat-option *ngFor="let TVA of cotaTVAList" [value]="TVA.value">
                    {{TVA.viewValue}}
                  </mat-option>
                </mat-select>

                <div class="alert-danger" *ngIf="f.submitted && sumaTotala_Incasata.invalid">
                    <div *ngIf="sumaTotala_Incasata.errors.required">Introducerea cotei TVA este obligatorie !</div>
                </div>
  
          </div>



        <div class="form-group">
            <label for="data_Scadenta">Dată scadență</label>
            <input type="text" class="form-control" name="data_Scadenta" [(ngModel)]="form.data_Scadenta" required
                 #data_Scadenta="ngModel" />

                 <div class="alert-danger" *ngIf="f.submitted && sumaTotala_Incasata.invalid">
                    <div *ngIf="sumaTotala_Incasata.errors.required">Introducerea datei scadențe este obligatorie !</div>
                </div>
        </div>

        <!-- <div class="form-group">
            <label for="sumaFaraTVA">sumaFaraTVA</label>
            <input type="number" class="form-control" name="sumaFaraTVA" [(ngModel)]="form.sumaFaraTVA" required
                minlength="2" maxlength="50" #sumaFaraTVA="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && sumaFaraTVA.invalid">
                <div *ngIf="sumaFaraTVA.errors.required">sumaFaraTVA is required</div>
                <div *ngIf="sumaFaraTVA.errors.minlength">
                    sumaFaraTVA must be at least 1 characters
                </div>
                <div *ngIf="sumaFaraTVA.errors.maxlength">
                    sumaFaraTVA must be at most 50 characters
                </div>
            </div>
        </div> -->

        <!-- <div class="form-group">
            <label for="sumaTVA">sumaTVA</label>
            <input type="number" class="form-control" name="sumaTVA" [(ngModel)]="form.sumaTVA" required minlength="2"
                maxlength="50" #sumaTVA="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && sumaTVA.invalid">
                <div *ngIf="sumaTVA.errors.required">sumaTVA is required</div>
                <div *ngIf="sumaTVA.errors.minlength">
                    sumaTVA must be at least 1 characters
                </div>
                <div *ngIf="sumaTVA.errors.maxlength">
                    sumaTVA must be at most 50 characters
                </div>
            </div>
        </div> -->


        <!-- <div class="form-group">
            <label for="stare">stare</label>
            <input type="text" class="form-control" name="stare" [(ngModel)]="form.stare" required minlength="2"
                maxlength="50" #stare="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && stare.invalid">
                <div *ngIf="stare.errors.required">stare is required</div>
                <div *ngIf="stare.errors.minlength">
                    stare must be at least 1 characters
                </div>
                <div *ngIf="stare.errors.maxlength">
                    stare must be at most 50 characters
                </div>
            </div>
        </div> -->


        <div class="modal-footer">
        <div class="form-group">
            <button class="btn-sm btn-secondary"  mat-raised-button aria-label="Close"
                (click)="activeModal.dismiss('Cross click')">Close</button>
            &nbsp;
            <button class="btn-sm btn-success"  mat-raised-button>Adăugați</button>
        </div> 
    </div> 


        <div class="alert alert-warning" *ngIf="f.submitted && isaddFailed">
            Adăugare eșuată<br />{{ errorMessage }}
          </div>
        </form>
    
        <div class="alert alert-success" *ngIf="isSuccessful">
            Factura dumneavoastră a fost adăugată cu succes!  
        </div>

</div>
</div>

<ng-template #loggedOut>
    Please login.
</ng-template>