<body class="signup-page">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-4 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Alege o parolă nouă</h2>
            
            <div class="card-body">
              <div class="row">

               
                <p class="mb-4"><i>  &nbsp; &nbsp; &nbsp; Creează o parolă nouă care să conţină cel puţin 6 caractere.
                  
                  O parolă complexă este o combinaţie de litere, cifre şi semne de punctuaţie.</i> </p>
              
                <div class="col-md-11 mr-auto">


                  <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                        <input type="password" name="password" [(ngModel)]="model.password" required
                        minlength="6" #password="ngModel" class="form-control" id="changePassword" placeholder="Introduceți parola nouă" />
                        </show-hide-password>
                      </div>
                    </div>


                  





                    <div class="text-center">
                      <button type = "submit" class="btn btn-blue text-center" [disabled]="f.invalid">Continuă</button>
                    </div>



                    <div class="form-group">
                      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                        Login failed: {{ errorMessage }}
                      </div>
                    </div>


                  </form>
                  <div class="row mb-4 px-3"> <small class="font-weight-bold">Înapoi la autentificare! <a href="/login"
                    class="text-success ">Autentificare</a></small> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>