<body class="signup-page">

  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-signup">
          <h2 class="card-title text-center">Înscrie-te</h2>
          
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 ml-auto">
                <div class="info info-horizontal">
                  <div class="icon icon-rose">
                    <i class="material-icons">timeline</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Marketing</h4>
                    <p class="description">
                     
                    </p>
                  </div>
                </div>

                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="material-icons">bar_chart</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Statistică</h4>
                    <p class="description">
                      
                    </p>
                  </div>
                </div>

                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="material-icons">lock</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Securitate</h4>
                    <p class="description">
                   
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-5 mr-auto">


                <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">face</i>
                        </span>
                      </div>
                      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
                      maxlength="20" #username="ngModel" placeholder="Introduceți numele de utilizator" />
                    </div>
                 

                  <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Numele de utilizator este obligatoriu!</div>
                    <div *ngIf="username.errors.minlength">
                      Numele de utilizator trebuie să aibă cel puțin 3 caractere!
                    </div>
                    <div *ngIf="username.errors.maxlength">
                      Numele de utilizator trebuie să aibă cel mult 20 de caractere!
                    </div>
                  </div>
                </div>


                  <div class="form-group bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">mail</i>
                        </span>
                      </div>
                      <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel" placeholder="Introduceți adresa de email" />
                    </div>
                  

                  <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">E-mailul este obligatoriu!</div>
                    <div *ngIf="email.errors.email">
                      E-mailul trebuie să fie o adresă de e-mail validă! 
                    </div>
                  </div>
                </div>

                  <div class="form-group bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                      minlength="6" #password="ngModel" placeholder="Introduceți parola" />
                    </div>

                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Parola este obligatorie!</div>
                      <div *ngIf="password.errors.minlength">
                        Parola trebuie sa aibă cel puțin 6 caractere!
                      </div>
                    </div>
                  </div>

  
                  <div class="text-center">
                    <button type = "submit" class="btn btn-blue text-center">Înscrie-te</button>
                  </div>
        
                  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Inregistrarea a esuat!<br />{{ errorMessage }}
                  </div>
                </form>
                <div class="row mb-4 px-3"> <small class="font-weight-bold">Înapoi la autentificare! <a href="/login"
                  class="text-success ">Autentificare</a></small> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>